/***** Imported Google font family Poppins *****/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');

/***** End Imported Google font *****/

/***** Define variables *****/

:root {
  --primary-colour: #0a0a0c;
  --secondary-color: #fff;
  --accent-color: #ff06fb;
  --font-family: 'Poppins', sans-serif;
}

/***** End Define variables *****/

/***** Define global styles *****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

/***** End Define global styles *****/

/***** Navbar styles *****/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-colour);
  color: var(--secondary-color);
  width: 100%;
  height: 3em;
  padding: 10px;
}

.nav-brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
} 

.brand-text {
  color: var(--secondary-color);
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 10px;
}

.accent-text {
  font-weight: 700;
}

.nav-link ul {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding: 10px;
  list-style: none;
}

.nav-link li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.nav-link a {
  color: var(--accent-color);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;

}

/***** End Navbar styles *****/

/***** Hero styles *****/

.hero-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 20px;
  min-height: 100vh;
}

.hero-section .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-img {
  width: 40em;
  object-fit: cover;
  padding: 10px;
  margin: 0 20px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: ft;
  align-items: center;
}

.hero-content h3 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 0.4;
  text-transform: uppercase;
  margin-top: 20px;
  color: var(--primary-colour);
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--accent-color);
}

.hero-content p {
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--primary-colour);
  text-align: justify;
  max-width: 420px;
  padding: 10px;
}

.btn-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20em;
  color: var(--secondary-color);
  padding: 12px;
  margin: 20px 20px 20px 0;
  background: var(--accent-color);
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: opacity 1s ease;
}

.btn-cart:hover {
  opacity: 0.8;
}

.hero-content a {
  text-decoration: none;
}

/***** End Hero styles *****/

/***** Card styles *****/

.card {
  display: flex;
  flex-direction: column;
  width: 22em;
  margin: 20px;
}

.status-tag {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--secondary-color);
  text-align: center;
  background: var(--primary-colour);
  width: 6em;
  padding: 8px;
  margin: 20px;
}

.card .img-box {
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.card-img {
  width: 22em;
  object-fit: cover;
  background: #0a0a0c;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: rgb(255, 6, 251, 0.1);
  border-radius: 50px 50px 0 0;
  padding: 10px;
  margin-top: 40px;
}

.card-header {
  color: var(--primary-colour);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 0.4;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 20px;
}
 .rating-icons {
  display: flex;
 }

.card-subheading {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--primary-colour);
  padding: 10px 10px 5px 10px;
}

.card-ruler {
  background: var(--primary-colour);
  text-align: center;
  width: 100%;
  height: 1px;
  margin: 0 8px 0 8px;
}

.card-desc {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: justify;
  color: var(--primary-colour);
  padding: 10px;
}

.card-price {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px;
  margin: 10px 10px 10px 0;
  background: var(--accent-color);
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: opacity 1s ease;
}

.card-btn:hover {
  opacity: 0.8;
}

/***** End Card styles *****/


