:root {
  --primary-colour: #0a0a0c;
  --secondary-color: #fff;
  --accent-color: #ff06fb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-colour);
  color: var(--secondary-color);
  width: 100%;
  height: 3em;
  padding: 10px;
}

.nav-brand {
  display: flex;
} 

.brand-text > h1 {
  color: var(--secondary-color);
  font-size: 2rem;
}

.nav-link {
  display: flex;
}

.nav-link > ul {
  text-decoration: none;
}


